* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 110vh;
    background: #222;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    position: fixed;
    z-index: 1;
    transition: 3s ease-in-out;
}

/*@media queries som positionerar svgn i mitten av x axeln när fönstret är mindre än en viss storlek (när contenten visas i kolumn), tex @media max(?px)*/

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #222;
    transition-duration: 1s;
}