:root {
    --scrollbar-color: purple;
    --scrollbar-hover: rgb(100, 0, 100);
}

* {
    margin: 0;
    padding: 0;
}

#scrollbar {
    position: fixed;
    width: 15px;
    height: 0;
    right: 0;
    background-color: var(--scrollbar-color);
    z-index: 2;
    border-radius: 15px;
}

#scrollbar:hover {
    background-color: var(--scrollbar-hover);
}

::-webkit-scrollbar {
    display: none;
}

#logo {
    position: absolute;
    transform: translate(calc(50vw - 375px), calc(50vh - 60px));
    top: 0;
    left: 0;
    z-index: 1;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    transition-duration: 1s;
}

#background {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
}

#content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#animcontainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 130px;
    width: 100vw;
    height: 200vh;
}

#anim1{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#anim2{
    width: 100vw;
    height: 100vh;
    background-color: green;
}

#anim3{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

#anim4{
    width: 100vw;
    height: 100vh;
    background-color: orange;
}