* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: purple;
}

::-webkit-scrollbar-track {
    background: #888;
}

body {
    min-height: 110vh;
    background: #222;
}

svg {
    position: absolute;
    transform: translate(calc(50vw - 375px), calc(50vh - 60px));
    top: 0;
    left: 0;
    z-index: 1;
}

/*@media queries som positionerar svgn i mitten av x axeln när fönstret är mindre än en viss storlek (när contenten visas i kolumn), tex @media max(?px)*/

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #222;
    transition-duration: 1s;
}