html, body {
    height: 100%;
    margin:0;
    overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* trick to only apply in webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .container {
      background-color: rgba(0,0,0,0);
      -webkit-background-clip: text;
      /* uncomment following line to see the trick in actions */
       -webkit-text-fill-color: transparent; 
      transition: background-color .8s;
  }
  .container:hover {
     background-color: purple;  
  }
  .container::-webkit-scrollbar {
      width: 15px;
      height: 8px;
  }
  .container::-webkit-scrollbar-track {
      display: none;
  }
  .container::-webkit-scrollbar-thumb {
      border-radius: 10px;
      color: black;
      background-color: inherit;
  }
}